services:
  chroma:
    image: chromadb/chroma:latest
    ports:
      - "8000:8000"
    volumes:
      - chroma_data:/chroma/data
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=FALSE

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - PORT=5000
      - CHROMA_URL=http://chroma:8000
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    depends_on:
      - chroma

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
#      - VITE_API_URL=http://localhost:5000
      - VITE_API_URL=http://192.168.86.39:5000

volumes:
  chroma_data:
